.login{
    background-image: url("../../Image/Login_Image.png");
}

.iconelog{
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 20px;
}

.connection{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.reseaux{
    background-color: #db9a3cff;
    width: 200px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 190px;
    padding-top: 4px;
}