.Bloc{
    margin-top: 25px;
}

.images{
    width : 270px;
}

.Bloc_habits{
    padding: 4vh;
}

.footer{
    background-color: #223467ff;
    padding: 10px; 
    margin-top: 34px;
    bottom: 0;
    left: 0;
    height: 2px; 
}